<tr class="line-item-row">
  <td>
    <%= f.collection_select :product_id, @products, :id, :name,
          { include_blank: 'Select product...' }, class: 'form-select form-select-sm' %>
  </td>
  <td><%= f.text_field :package_code, class: 'form-control form-control-sm', placeholder: 'EA' %></td>
  <td><%= f.number_field :quantity, step: 0.001, class: 'form-control form-control-sm', placeholder: '0' %></td>
  <td><%= f.number_field :unit_cost, step: 0.0001, class: 'form-control form-control-sm', placeholder: '0.00' %></td>
  <td><button type="button" class="btn btn-outline-danger btn-sm remove-line-item">✕</button></td>
</tr>
