<div class="container-fluid px-4 py-4">

  <div class="d-flex align-items-center gap-3 mb-4">
    <%= link_to users_path, class: "btn btn-sm btn-outline-secondary" do %>
      &larr; Users
    <% end %>
    <h4 class="mb-0 fw-semibold">Edit User</h4>
  </div>

  <%= render "form", user: @user %>

</div>
