<div class="content">
  <h1>New dispatch</h1>

  <%= render "form", dispatch: @dispatch %>

  <br>

  <div>
    <%= link_to "Back to dispatches", dispatches_path, data: { turbo: false } %>
  </div>
</div>
