.gutter-color {
    background-color: #63a01d;
}
.col-1 {
    background-color: rgb(35, 160, 143) !important;
    height: 90vh;
}
.col-2{
    background-color: #375a7f;
    margin-right: 0px;
    margin-left: 0px;
}
.custom-gutter {
    margin-right: 0px;
}
.body{
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100%;
    background-color: #f0f0f0 !important;
}
.container-fluid{
    flex: 0 1 auto;
    height: 90vh;
}
.html{
    display: flex;
    height: 1400px !important;
}
.dispatches{
    /*background-color: #63a01d;*/
    height: 100%;

}
.links{
    color:azure;
    text-decoration: none;
    background-color: green !important;
}
.note{
    background-color: green;
    padding-left: 0px;
    border-radius: 5%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    cursor: grab;
}
.driver-note{
    background-color: #2fa95c;
    border-radius: 5%;

    cursor: grab;
    transition: all 0.3s ease;
}
.driver-note:active{
    cursor: grabbing;
}
.custom-column {
    display: inline-block;
    vertical-align: top;
    width: 184px;
    background-color: #7a779d;
    margin: 0;
    padding-left: 0;
    height: 95%;
}
.text-center{
    text-align: center;
    width: 184px;
    color: #375a7f;
}
.col{
    margin-top: -1.2%;
    width: 184px;
    margin-left: 0%;
    margin-right: 0%;
    padding-left: 10px;
}
.dispatch-list{
    height: 100%;
    padding-left: 0%;
    padding-bottom: 10px;
}
.row{
    height: 100%;
}
.button-container {
  margin-left: 8px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
#updateDriverNotes{
    margin-left: 5px;
}
.navbar{
    background-color: #375a7f !important;
}
.navbar-brand{
    color: white;
}
.nav-link{
    color: white;
}
#sticky-trash-can {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #f44336;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 9999;
  }
  
  #sticky-trash-can span {
    font-size: 28px;
    line-height: 1;
  }
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  .card-link {
    text-decoration: none;
  }
  