.html{
    display: flex;
    height: 1400px !important;
}
.navbar{
    background-color: #375a7f !important;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}
.navbar-brand{
    color: white;
}
.nav-link{
    color: white;
}
.index-table-head{
    background-color: red;
}
.bi-gear-fill{
    padding-left: 100px;
}
.table th, .table td {
    width: 15%;
}
.content {
    padding-left: 40px;
    padding-right: 40px;
}
.card-link{
    text-decoration: none;
}
